/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;

}

:root{
  --rich-black-fogra-39: #0b090aff;
  --eerie-black: #161a1dff;
  --blood-red: #660708ff;
  --ruby-red: #a4161aff;
  --carnelian: #ba181bff;
  --imperial-red: #e5383bff;
  --black-shadows: #b1a7a6ff;
  --light-gray: #d3d3d3ff;
  --cultured: #f5f3f4ff;
  --white: #ffffffff
}
